/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5DC; /* Beige background */
    margin: 0;
    padding: 0;
    color: #333;
    padding-left: 20px; /* Added padding to avoid text being too close to the left */
    padding-right: 20px; /* Added padding to avoid text being too close to the right */
}

/* Header styles */
header {
    background-color: #FFB6C1; /* Light pink */
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    color: white;
}

header p {
    font-size: 1.5em;
    color: white;
}

/* Footer styles */
footer {
    background-color: #FFB6C1; /* Light pink */
    padding: 20px;
    text-align: center;
    color: white;
}

/* Form styles */
#order-form {
    background-color: rgba(255, 255, 255, 0.8); /* Slight white background */
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

/* Navigation Bar Styles */
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFB6C1; /* Light pink */
}

nav a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #ff69b4; /* Slightly darker pink when hovered */
}

/* General Section Styles for text */
section {
    margin-top: 20px;
    text-align: center;
}

h2 {
    color: #FF69B4;
    font-size: 2.5em;
}

/* Button Styling */
button {
    padding: 15px;
    font-size: 1.2em;
    color: white;
    background-color: #FFB6C1; /* Light pink */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff69b4; /* Slightly darker pink when hovered */
}

/* Cart Badge Styling */
#cart-badge {
    position: absolute;
    top: 20px;
    right: 30px;
    background-color: #ff69b4; /* Light pink */
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.2em;
    font-weight: bold;
}
